# We don't want compiled stuff in here!
/bin
/build
/run
/libs
/tools
/sources

# Ignore project specific files
.classpath
.project
.settings
eclipse/*
.gradle/*
repo/*
*.iml
*.ipr
*.iws
out/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
